@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Permanent+Marker&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@400;700&display=swap');

/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Permanent+Marker&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@400;700;900&display=swap');


html {
    scroll-behavior: smooth;
}

* {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    box-sizing: border-box;
}

/* Red  Crimson Passion */
/* Final */
/* :root{
    --bg : #2C3639;
    --secondary-color :#112e42 ;
    --main-color : #DC0000;
    --text-color : #ededed;
    --maxWidth:1300px;
} */
 
/* Green Teal Treasures */
/* :root{   
    --bg : #112B3C;
    --secondary-color :#112e42 ;
    --main-color : #61b093;
    --text-color : #ededed;
    --maxWidth:1300px;
} */

/* purple   Indigo Delight*/
/* Final */
/* :root{
    --bg : #040c18;
    --secondary-color :#112e42 ;
    --main-color : #614bc3;
    --text-color : #ededed;
    --maxWidth:1300px;
} */

/* blue     "Oceanic Elegance */  
/* Final */
:root{
    --bg : #081b29;
    --secondary-color :#112e42 ;
    --main-color : #00abf0;
    --text-color : #ededed;
    --maxWidth:1300px;
}

body {
    background-color: var(--bg);

    /* backdrop-filter: blur(100px); */

    /* background-color: #112e42; */
}

/* body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
} */


/* side navbar div */
.nav-bar {
    height: auto;
    width: auto;
    background-color: var(--main-color);
    position: fixed;
    top: 65px;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;


    padding-top: 10px;
}

/* portfolio div */
.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
}

.portfolio img {
    width: 45px;

}

/* nav items */
.item {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-active {
    background-color: var(--bg);
}

.item img{
    width: 22px;
    height: 22px;
}

/* names are hidden in movile view */

.item-names{
    display: none;
}

.theme-container {

    cursor: pointer;

    border-bottom-left-radius: 7px;

}

.themes {

    max-width: 89%;
    /* max-width: 0; */
    /* overflow: hidden; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: var(--secondary-color);
    position: fixed;
    left: -100vw;
    top: 240px;
    transition: 0.6s;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.theme-active{
    left: 0;
    /* max-width: 89vw; */
    padding: .5rem;
}

.theme-select{
    font-size:14px ;
    overflow: hidden;
    padding: 8px;
    width: 100%;
    max-width: 130px;
    background-color: #61677A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 6px;
    cursor: pointer;
    transition: transform .3s;
}

.theme-select:hover{
    transform: scale(1.05);
}

.theme-select img{
    width: 50px;
    border: 3px solid white;
    border-radius: 50%;
    margin-bottom: 5px;
    animation: rotate 20s linear infinite;
}


@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }



.themesButton {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 7px;
}



/* back-to-top button */
.back-to-top {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 4px solid var(--main-color);
    position: fixed;
    bottom: 6rem;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s ease;
    z-index: 1;
}

.back-to-top img {
    width: 24px;
}


/* 
===================================================================================
===================================================================================
===================================================================================
=====                  Information section                                   =====
===================================================================================
===================================================================================
===================================================================================
*/


.information-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-container {
    width: 100%;
    max-width: var(--maxWidth);
    height: auto;
    padding: 50px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.blur {
    filter: blur(8px);
}

.my-image {
    width: 300px;
    height: 310px;
    border: 4px solid var(--text-color);
    border-radius: 50%;
    position: relative;
    background-color: var(--main-color);
    overflow: hidden;
}

.my-image img {
    width: 180px;
    height: 320px;
    position: absolute;
    top: 0;
    right: 56px;
}

/* text in information 'Hi i am deepansh'  */

.introduction {

    margin-top: 20px;
    width: 100%;
    text-align: center;

}

.info {
    margin-top: 10px;
    font-size: 40px;
}


#element {
    color: var(--main-color);
    /* font-size: 20px; */
    font-weight: 900;
    /* color: transparent; */
    /* -webkit-text-stroke: 2px var(--main-color); */
}


.zz {
    width: 100%;
    height: 1000px;
}



























.height {
    width: 100%;
    height: 2000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}