/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Permanent+Marker&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@400;700;900&display=swap');

/* Cursive Font  */
@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    box-sizing: border-box;
}

/* Red  Crimson Passion */
/* Final */
/* :root{
    --bg : #2C3639;
    --secondary-color :#112e42 ;
    --main-color : #DC0000;
    --text-color : #ededed;
    --maxWidth:1300px;
} */

/* Green Teal Treasures */
/* :root{   
    --bg : #112B3C;
    --secondary-color :#112e42 ;
    --main-color : #61b093;
    --text-color : #ededed;
    --maxWidth:1300px;
} */

/* purple   Indigo Delight*/
/* Final */
/* :root{
    --bg : #040c18;
    --secondary-color :#112e42 ;
    --main-color : #614bc3;
    --text-color : #ededed;
    --maxWidth:1300px;
} */

/* blue     "Oceanic Elegance */
/* Final */
:root {
    /* --bg: #081b29; */
    --bg: #081b29;

    --secondary-color: #112e42;
    --main-color: #00abf0;
    --text-color: #ededed;

    --maxWidth: 1250px;
    --smallMaxWidth:1000px
}

body {
    background-color: var(--bg);
}

/* body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
} */


/* ================================================================================
===================================================================================
NavBar Styling 
===================================================================================
=================================================================================*/


.nav-bar {
    height: auto;
    width: auto;

    background-color: var(--main-color);

    position: fixed;
    top: 65px;
    right: 0;

    display: flex;
    flex-direction: column;
    z-index: 1;

    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;

    padding-top: 10px;
}


/*=================================================================================
It is the First div inside the Navbar and it contains the PORTFOLIO image  
=================================================================================*/
.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
}


/*=================================================================================
Resizing the image inside the .portfolio div
=================================================================================*/
.portfolio img {
    width: 45px;

}


/*=================================================================================
Navbar elements => About, Education, Skills, Projects, Tools , Contacts. NOT THEME
=================================================================================*/
.item {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*=================================================================================
Image inside these items or Navbar ELEMENTS 
=================================================================================*/
.item img {
    width: 22px;
    height: 22px;
}


/*=================================================================================
Names of each Navbar element(items) hidden for the mobile users
=================================================================================*/
.item-names {
    display: none;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}


/*=====================================================================================
The main container that Contains Both Theme Button and the div that contains all THEMES 
=====================================================================================*/
.theme-container {
    cursor: pointer;
    border-bottom-left-radius: 7px;
}


/*======================================================================================
The container that contains ALL the Themes from which the user will select.BLue, red etc
======================================================================================*/
.themes {
    max-width: 89%;
    width: 100%;
    height: 200px;

    background-color: var(--secondary-color);

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;

    position: fixed;
    left: -200vw;
    top: 240px;

    transition: 1s;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


/*======================================================================================================
Class to be activated on the Theme container when we click on the Theme Button to achieve sliding effect.
=======================================================================================================*/
.theme-active {
    left: 0;
    padding: .5rem;
}


/*====================================================================================
Theme select is the each individual THEME (we have 4) each with class = 'theme-select'
====================================================================================*/
.theme-select {
    font-size: 14px;
    overflow: hidden;
    padding: 8px;
    width: 100%;
    max-width: 130px;
    background-color: #61677A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 6px;
    cursor: pointer;
    transition: transform .3s;
}


.theme-select:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px black;
}


/*=================================================================================
Styling the image and applying animation to rotate the THEME IMAGE 
=================================================================================*/
.theme-select img {
    width: 50px;
    border: 3px solid white;
    border-radius: 50%;
    margin-bottom: 5px;
    animation: rotate 20s linear infinite;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/*=================================================================================
  Theme Button that will be displayed on navbar and bu clicking it , it opens up themes option and applies blur effect in the background (on main).
  =================================================================================*/
.themesButton {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 7px;
}

.themesButton img{
    width: 22px;
}


/*=================================================================================
Back to top Button
=================================================================================*/
.back-to-top {
    width: 45px;
    height: 45px;
    background-color: transparent;
    border-radius: 50%;
    border: 4px solid var(--main-color);
    position: fixed;
    top: 40rem;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s ease;
    z-index: 1;
}


/*=================================================================================
Targeting the image inside Bact 2 top button
=================================================================================*/
.back-to-top img {
    width: 24px;
}










/* ================================================================================
===================================================================================
Information Section Styleing 
===================================================================================
=================================================================================*/










/*=================================================================================
Styling of the section that contains My image and name and texts
=================================================================================*/
.information-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*=================================================================================
The main div inside this information section 
=================================================================================*/

.information-container {
    width: 100%;
    max-width: var(--maxWidth);
    height: auto;
    padding: 50px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*=================================================================================
The class to toggle the blur effect 
=================================================================================*/
.blur {
    filter: blur(8px);
}

/*=================================================================================
Image container
=================================================================================*/

.my-image {
    width: 300px;
    height: 310px;
    border: 4px solid var(--text-color);
    border-radius: 50%;
    position: relative;
    background-color: var(--main-color);
    overflow: hidden;
}

/*=================================================================================
Targeting the image inside the container
=================================================================================*/

.my-image img {
    width: 180px;
    height: 320px;
    position: absolute;
    top: 0;
    right: 56px;
}

/*=================================================================================
.introduction is The div that contains the information text 
=================================================================================*/

.introduction {

    margin-top: 20px;
    width: 100%;
    text-align: center;

}

/*=================================================================================
Every single h2 that has the text is named as .info
=================================================================================*/

.info {
    margin-top: 10px;
    font-size: 40px;
}

/*=================================================================================
The div that we have used from the Typed JS has the ID = 'element'
=================================================================================*/
#element {
    color: var(--main-color);
    /* font-size: 20px; */
    font-weight: 900;
    /* color: transparent; */
    /* -webkit-text-stroke: 2px var(--main-color); */
}









/* ================================================================================
===================================================================================
About me 
===================================================================================
=================================================================================*/








/*=================================================================================
About Section 
=================================================================================*/
#About {
    width: 100%;
    height: auto;
    background-color: var(--secondary-color);

    margin-top: 180px;
    padding: 80px 5px;
    display: flex;
    justify-content: center;
    align-items: center;


}


/*=================================================================================
Main Container inside the About section
=================================================================================*/
.about-container {
    max-width: var(--maxWidth);
    width: 100%;

 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 10% 0 5%;
}


/*=================================================================================
Image in About container to be visible in larger screens only
=================================================================================*/
.about-image{
    display: none;
}

/*=================================================================================
Container that has all the ABOUT text and buttons
=================================================================================*/
.about-text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*=================================================================================
Heading of ABOUT 
=================================================================================*/
.about-head {
    width: 100%;
    text-align: center;
    font-weight: 900;
    margin-bottom: 50px;
    color: var(--main-color);
}


/*=================================================================================
Text discription of about section after the head
=================================================================================*/
.about-text {
    width: 100%;

    text-align: center;
    font-size: 18px;
}


/*=================================================================================
Span that contains my name in it 
=================================================================================*/
.my-name{
    color: var(--main-color);
}


/*=================================================================================
Resume and Hire Button Container
=================================================================================*/
.buttons{
    width: 85%;
    margin-top: 50px;

    display: flex;
    justify-content: space-between;

}


/*=================================================================================
Resume Button Styling
=================================================================================*/
.resume-button{
    background-color: var(--main-color);

    padding: 10px 30px;

    border: 3px solid var(--text-color);
    border-radius: 30px;

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition: .2s;

    cursor: pointer;
}

.resume-button:hover{
    transform: scale(1.1);
    background-color: var(--bg);
}








/* ================================================================================
===================================================================================
                              The Skills Section
===================================================================================
=================================================================================*/ 








/*=================================================================================
Section
=================================================================================*/
#Skills{
    margin-top: 150px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*=================================================================================
Main COntainer that wraps all the Skill Eements
=================================================================================*/
.skills-main-container{
    width: 100%;
    max-width: var(--maxWidth);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding: 0 10% 0 10px;

    row-gap: 50px;

}


/*=================================================================================
SKILLS Heading 
=================================================================================*/


#Skills h2{
    max-width: var(--maxWidth);
}

/*=================================================================================
 Each Individual Skill item ex HTML,CSS,JS etc
=================================================================================*/
.skill-item{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

    height: 200px;
    width: 165px;

    background-color: var(--secondary-color);
    border-radius: 10px;

}


.skill-item:hover {

    cursor: pointer;
    transform: scale(1.05);

}


/*=================================================================================
Div that is the progress bar 
=================================================================================*/
.progress{
    width: 135px ;
    height: 135px ;

    background: conic-gradient(var(--main-color) 3.6deg , white 0deg);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

}


/*=================================================================================
Circle inside the Brogress container
=================================================================================*/
.inside-progress{
    width: 104px;
    height: 104px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: var(--secondary-color);
}



main{
    height: 10000px;
}