/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');


/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


/* Cursive Font  */
@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');



/* LOGO Font */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
/* font-family: 'Audiowide', cursive; */


html {
    scroll-behavior: smooth;
}

* {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    box-sizing: border-box;
}

/* Red  Crimson Passion */
/* Final */
/* :root{
    --bg : #2C3639;
    --secondary-color :#112e42 ;
    --main-color : #DC0000;
    --text-color : #ededed;
    --maxWidth:1300px;
} */

/* Green Teal Treasures */
/* :root{   
    --bg : #112B3C;
    --secondary-color :#112e42 ;
    --main-color : #61b093;
    --text-color : #ededed;
    --maxWidth:1300px;
} */

/* purple   Indigo Delight*/
/* Final */
/* :root{
    --bg : #040c18;
    --secondary-color :#112e42 ;
    --main-color : #614bc3;
    --text-color : #ededed;
    --maxWidth:1300px;
} */

/* blue     "Oceanic Elegance */
/* Final */

:root {
    
    --bg: #081b29;
    --secondary-color: #112e42;
    --main-color: #00abf0;
    --text-color: #ededed;

    --maxWidth: 1250px;
    --smallMaxWidth: 1000px
}

body {
    background-color: var(--bg);
}

/* body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
} */


/* ================================================================================
===================================================================================
NavBar Styling 
===================================================================================
=================================================================================*/


.nav-bar {
    height: auto;
    width: auto;

    background-color: var(--main-color);

    --text-color: #ededed;

    color: var(--text-color);


    position: fixed;
    top: 65px;
    right: 0;

    display: flex;
    flex-direction: column;
    z-index: 1;

    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;

    padding-top: 10px;

    z-index: 5;
}


/*=================================================================================
It is the First div inside the Navbar and it contains the PORTFOLIO image  
=================================================================================*/
.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    
}


/*=================================================================================
Resizing the image inside the .portfolio div
=================================================================================*/
.portfolio img {
    width: 45px;

}


/*=================================================================================
Navbar elements => About, Education, Skills, Projects, Tools , Contacts. NOT THEME
=================================================================================*/
.item {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*=================================================================================
Image inside these items or Navbar ELEMENTS 
=================================================================================*/
.item img {
    width: 22px;
    height: 22px;
}


/*=================================================================================
Names of each Navbar element(items) hidden for the mobile users
=================================================================================*/
.item-names {
    display: none;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}


/*=====================================================================================
The main container that Contains Both Theme Button and the div that contains all THEMES 
=====================================================================================*/
.theme-container {
    cursor: pointer;
    border-bottom-left-radius: 7px;
}


/*======================================================================================
The container that contains ALL the Themes from which the user will select.BLue, red etc
======================================================================================*/
.themes {
    max-width: 89%;
    width: 100%;
    height: 200px;

    background-color: var(--secondary-color);

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;

    position: fixed;
    left: -200vw;
    top: 240px;

    transition: 1s;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


/*======================================================================================================
Class to be activated on the Theme container when we click on the Theme Button to achieve sliding effect.
=======================================================================================================*/
.theme-active {
    left: 0;
    padding: .5rem;
}


/*====================================================================================
Theme select is the each individual THEME (we have 4) each with class = 'theme-select'
====================================================================================*/
.theme-select {
    font-size: 12px;
    overflow: hidden;
    padding: 8px;
    width: 100%;
    max-width: 130px;
    background-color: #61677A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 6px;
    cursor: pointer;
    transition: transform .3s;
}


.theme-select:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 5px black;
}


/*=================================================================================
Styling the image and applying animation to rotate the THEME IMAGE 
=================================================================================*/
.theme-select img {
    width: 50px;
    border: 3px solid white;
    border-radius: 50%;
    margin-bottom: 5px;
    animation: rotate 20s linear infinite;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/*=================================================================================
  Theme Button that will be displayed on navbar and bu clicking it , it opens up themes option and applies blur effect in the background (on main).
  =================================================================================*/
.themesButton {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 7px;
}

.themesButton img {
    width: 22px;
}


/*=================================================================================
Back to top Button
=================================================================================*/
.back-to-top {
    width: 45px;
    height: 45px;
    background-color: transparent;
    border-radius: 50%;
    border: 4px solid var(--main-color);
    position: fixed;
    top: 40rem;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s ease;
    z-index: 1;
}


/*=================================================================================
Targeting the image inside Bact 2 top button
=================================================================================*/
.back-to-top img {
    width: 24px;
}










/* ================================================================================
===================================================================================
Information Section Styleing 
===================================================================================
=================================================================================*/










/*=================================================================================
Styling of the section that contains My image and name and texts
=================================================================================*/
.information-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*=================================================================================
The main div inside this information section 
=================================================================================*/

.information-container {
    width: 100%;
    max-width: var(--maxWidth);
    height: auto;
    padding: 50px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*=================================================================================
The class to toggle the blur effect 
=================================================================================*/
.blur {
    filter: blur(8px);
}

/*=================================================================================
Image container
=================================================================================*/

.my-image {
    width: 300px;
    height: 310px;
    border: 4px solid var(--text-color);
    border-radius: 50%;
    position: relative;
    background-color: var(--main-color);
    overflow: hidden;
}

/*=================================================================================
Targeting the image inside the container
=================================================================================*/

.my-image img {
    width: 180px;
    height: 320px;
    position: absolute;
    top: 0;
    right: 56px;
}

/*=================================================================================
.introduction is The div that contains the information text 
=================================================================================*/

.introduction {

    margin-top: 20px;
    width: 100%;
    text-align: center;

}

/*=================================================================================
Every single h2 that has the text is named as .info
=================================================================================*/

.info {
    margin-top: 10px;
    font-size: 36px;
}

/*=================================================================================
The div that we have used from the Typed JS has the ID = 'element'
=================================================================================*/
#element {
    color: var(--main-color);
    /* font-size: 20px; */
    font-weight: 900;
    /* color: transparent; */
    /* -webkit-text-stroke: 2px var(--main-color); */
}









/* ================================================================================
===================================================================================
About me 
===================================================================================
=================================================================================*/








/*=================================================================================
About Section 
=================================================================================*/
#About {
    width: 100%;
    height: auto;
    background-color: var(--secondary-color);

    margin-top: 180px;
    padding: 80px 5px;
    display: flex;
    justify-content: center;
    align-items: center;


}


/*=================================================================================
Main Container inside the About section
=================================================================================*/
.about-container {
    max-width: var(--maxWidth);
    width: 100%;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 10% 0 5%;
}


/*=================================================================================
Image in About container to be visible in larger screens only
=================================================================================*/
.about-image {
    display: none;
}

/*=================================================================================
Container that has all the ABOUT text and buttons
=================================================================================*/
.about-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*=================================================================================
Heading of ABOUT 
=================================================================================*/
.about-head {
    width: 100%;
    text-align: center;
    font-weight: 900;
    margin-bottom: 50px;
    color: var(--main-color);
}


/*=================================================================================
Text discription of about section after the head
=================================================================================*/
.about-text {
    width: 100%;

    text-align: center;
    font-size: 16px;
}


/*=================================================================================
Span that contains my name in it 
=================================================================================*/
.my-name {
    color: var(--main-color);
}


/*=================================================================================
Resume and Hire Button Container
=================================================================================*/
.buttons {
    width: 85%;
    margin-top: 50px;

    display: flex;
    justify-content: space-between;

}


/*=================================================================================
Resume Button Styling
=================================================================================*/
.resume-button {
    background-color: var(--main-color);

    padding: 10px 30px;

    border: 3px solid var(--text-color);
    border-radius: 30px;

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    transition: .2s;

    cursor: pointer;
}

.resume-button:hover {
    transform: scale(1.1);
    background-color: var(--bg);
}














/* ================================================================================
===================================================================================
                              The TOOLS Section
===================================================================================
=================================================================================*/







#Tools {
    margin-top: 150px;
    width: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#Tools h2 {
    padding: 0 5px;
}

.tools-main-container {
    height: 230px;
    width: 100%;
    position: relative;


    align-items: center;
    display: flex;
}

.tools-main-container::before {
    position: absolute;
    content: "";
    height: 100%;
    z-index: 1;
    width: 15%;
    background: linear-gradient(to left, transparent, transparent, #000000, #000000);
    left: 0;
    top: 0;
}

.tools-main-container::after {

    background: linear-gradient(to right, transparent, transparent, #000000, #000000);

    position: absolute;
    content: "";
    height: 100%;
    z-index: 2;
    width: 15%;

    right: 0;
    top: 0;
}


/*=================================================================================
Tools main container
=================================================================================*/


.tools-logo-container {

    height: 100%;
    background-color: #000000;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: slide 30s linear infinite;
}




/*=================================================================================
Animation to slide the container right ot left
=================================================================================*/
@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}


/*=================================================================================
Each individual Tool div that has tool image and text example HTML , css JS etc
=================================================================================*/
.tools-item {
    height: 120px;
    width: 280px;
    padding: 10px 40px;

    font-size: 30px;
    font-family: 'Audiowide', cursive;

    border-right: 2px solid;
    border-image: linear-gradient(to top, transparent, white, transparent)1;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: #000000;

}

.tools-item img {
    height: 90px;
    margin: 0 20px 0 0px;
}


/*=================================================================================
JAVASCRIPT div's width is increased because of it long name
=================================================================================*/
#extrawide-tools-logo {

    width: 430px;

}


/*=================================================================================
BOOTSTRAP and VSCode div's width is increased because of it long name
=================================================================================*/
#wide-tools-logo {

    width: 380px;

}












/* ================================================================================
===================================================================================
                              The Skills Section
===================================================================================
=================================================================================*/








/*=================================================================================
Section
=================================================================================*/
#Skills {
    margin-top: 350px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#Skills h2 {
    width: 100%;
    max-width: var(--maxWidth);
}

/*=================================================================================
Main COntainer that wraps all the Skill Eements
=================================================================================*/
.skills-main-container {
    width: 100%;
    max-width: var(--maxWidth);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    padding: 0 10% 0 10px;

    row-gap: 50px;

}


/*=================================================================================
SKILLS Heading 
=================================================================================*/


#Skills h2 {
    max-width: var(--maxWidth);
}

/*=================================================================================
 Each Individual Skill item ex HTML,CSS,JS etc
=================================================================================*/
.skill-item {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    height: 200px;
    width: 160px;

    background-color: var(--secondary-color);
    border-radius: 10px;

    box-shadow: 2px 2px 8px black,
        -2px -2px 8px black
}


/*=================================================================================
Div that is the progress bar 
=================================================================================*/
.progress {
    width: 105px;
    height: 105px;

    background: conic-gradient(var(--main-color) 3.6deg, white 0deg);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    /* box-shadow: 4px 4px 15px  black,
                -4px -4px 15px black  */

    box-shadow: 4px 4px 10px black,
        -4px -4px 10px black
}


/*=================================================================================
Circle inside the Progress container
=================================================================================*/
.inside-progress {
    width: 70%;
    height: 70%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    background-color: var(--secondary-color);

    box-shadow: inset 4px 4px 10px black,
        inset -4px -4px 10px black
}










/* ================================================================================
===================================================================================
                            The Projects Section
===================================================================================
=================================================================================*/










#Projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 150px;
    padding: 0 15px;

    width: 100%;
    height: auto;

}


/*=====================================================================================
Main Container in projects that contains Heading as well as the project items container 
=======================================================================================*/
.project-main-container{

    width: 100%;
    max-width: var(--maxWidth);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*=================================================================================
Each Individual Project Div that contains Project Image ,detail and visiting link
=================================================================================*/
.project-item{
    width: 100%;
    max-width: 730px;

    margin-top: 60px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    background-color: var(--secondary-color);
    border-radius: 8px;

    box-shadow:  4px 4px 10px black,
     -4px -4px 10px black;

}

/*=================================================================================
Project-details is the container that contains the Accordion and visit Buttons 
=================================================================================*/
.project-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*=================================================================================
Image of Project
=================================================================================*/
.project-img img{
    width: 300px;
}


/*=================================================================================
Project Information that is to be dispalyed in the pc and ipad 
=================================================================================*/
.non-accordion-info{
    display: none;
}


/*=================================================================================
Accordion That contains Project Details
=================================================================================*/
.project-accordion{
    max-width: 600px;
    width: 80%;
    height: auto;
}

/*=================================================================================
Accordion Heading 
=================================================================================*/
.accordion-head{
    position: relative;

    width: 100%;
    
    padding: 10px 10px 10px 15px;
    background-color: var(--secondary-color);
    
    border: 2px solid var(--text-color);
    border-radius: 5px;
    
    font-family: 'Audiowide', 'cursive';
    font-size: 16px;
    cursor: pointer;

    color: #F3AA60;
}

.change-head-border {
    border: 2px solid var(--text-color);
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


/*=================================================================================
Accordion Down Arrow
=================================================================================*/
.arrow{
    position: absolute;
    top: 13px;
    right: 20px;

    width: 18px;
}

.arrow-rotate{
    transform: rotateZ(180deg);
}


/*=================================================================================
Accordion Body
=================================================================================*/
.accordion-body{
    max-height: 0;
    overflow: hidden;
    background-color: var(--secondary-color);
}


/*=================================================================================
Active class for the accordion body
=================================================================================*/
.activate-accordion{
    border: 2px solid var(--text-color);
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-height: 1000px;
    transition: max-height .8s ease-in-out;
}


/*=================================================================================
Accordion COntent 
=================================================================================*/
.accordion-content{
    font-size: 18px;
    padding: 10px;
}

.content-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.content-img img{
    width: 35px;
    margin: 0 4px;
    border-radius:5px ;
}


/*=================================================================================
Visit Buttons
=================================================================================*/
.visit-project{
    width: 60%;

    margin: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.visit-project button{
    padding: 5px 25px;
    background-color: black;
    border: 3px solid white;
    border-radius: 5px;
    cursor: pointer;

    transition: transform .5s;
}

.visit-project img{
    width: 25px;
    transition: 1s;
}









/* ================================================================================
===================================================================================
                        The Education Section
===================================================================================
=================================================================================*/










#Education{
    width: 100%;
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.education-main-container{
    padding-right: 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.education-icon{
    width: 150px;
    margin-top: 50px;
}









/* ================================================================================
===================================================================================
                        The Contact Section
===================================================================================
=================================================================================*/










#Contacts{
    width: 100%;

    margin-top: 100px;
    padding: 50px 0 50px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


/*=================================================================================
Email container
=================================================================================*/



/*=================================================================================
Heading
=================================================================================*/


.contact-content-heading{

    font-size: 24px;
    color: var(--main-color);

}


.email{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*=================================================================================
Social Media container
=================================================================================*/


.socialmedia-container{

    margin-top: 50px;
    width: 80%;

}


/*=================================================================================
Social Media Icon Coontainer
=================================================================================*/
.socialmedia-icon{
    margin-top: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.socialmedia-icon a{
    height: 45px;
    overflow: hidden;

    border-radius: 50%;

}