@media(max-width:400px) {

    .nav-bar {
        top: 40px;
    }

    /* portfolio div */
    .portfolio {
        width: 45px;
    }

    .portfolio img {
        width: 45px;
        height: 45px;
    }

    /* nav items */
    .item {
        width: 45px;
        height: 45px;
    }

    .item img {
        width: 24px;
        height: 24px;
    }

    .back-to-top {
        bottom: 3rem;
    }

    .back-to-top img {
        width: 24px;
    }


    /* theme and theme selection */

    /* div taht has theme button image and theme container */
    .theme-container {
        top: 364px;
    }

    /* div that has theme changing  buttons */
    .themes {
        max-width: 86vw;
    }

    /* theme selection button */
    .theme-select {
        font-size: 12px;
        max-width: 120px;
    }

    /* 
    ===================================================================================
    ===================================================================================
    =============================================================
    NavBAR Till here                                                                          =====
    ===================================================================================
    ===================================================================================
    ===================================================================================
    */


    /* information image and text container starts here  */

    .information-container {
        padding-top: 80px;
    }

    .my-image {
        width: 250px;
        height: 260px;
    }

    .my-image img {
        width: 150px;
        height: 270px;
        right: 48px;
    }

    .info {
        font-size: 36px;
    }

}




@media(max-width:320px) {

    /* navbar */
    .nav-bar {
        position: fixed;
        top: 20px;
    }


    /* theme and theme selection */





    /* portfolio div */
    .portfolio {
        width: 40px;
    }

    .portfolio img {
        width: 40px;
        height: 40px;
    }

    /* nav items */
    .item {
        width: 40px;
        height: 40px;
    }

    .item img {
        width: 22px;
        height: 22px;
    }


    /* theme and theme selection */

    /* div that has theme button image and theme container */
    .theme-container {
        top: 309px;
    }

    /* theme button visible on the navbar */
    .themesButton {
        width: 40px;
        height: 40px;
    }

    /* div that has theme changing  buttons */
    .themes {
        max-width: 84vw;
        top: 150px;
    }


    /* theme selection button */
    .theme-select {
        font-size: 10px;
        max-width: 110px;
    }








    /* navbar ends */



    /* information image and text container starts here  */

    .my-image {
        width: 200px;
        height: 200px;
    }

    .my-image img {
        width: 130px;
        height: 230px;
        right: 30px;
    }

    .info {
        font-size: 30px;
    }



}


@media(max-width:280px) {


    /* navbar */

    .nav-bar {
        top: 20px;
    }


    /* nav items */
    .item {
        width: 35px;
        height: 35px;
    }



    /* theme and theme selection */

    /* div that has theme button image and theme container */
    .theme-container {
        top: 280px;
    }

    /* div that has theme changing  buttons */
    .themes {
        max-width: 85vw;
        top: 125px;
    }


    /* theme selection button */
    .theme-select {
        font-size: 10px;
        max-width: 96px;
    }












    /* navbar ends */



    /* information image and text container starts here  */

    .my-image {
        width: 160px;
        height: 160px;
    }

    .my-image img {
        width: 115px;
        height: 190px;
        right: 21px;
    }

    .info {
        font-size: 24px;
    }

    .back-to-top {
        bottom: 8rem;
    }


}










/* 
===================================================================================
===================================================================================
===================================================================================
=====   For larger Devices Such as IPAD and other tablets             
===================================================================================
===================================================================================
===================================================================================
*/


@media(min-width:750px) {

    /* NAVBAR Starts */

    .nav-bar {
        top: 0;
        left: 0;
        padding: 0 0 0 50px;
        align-items: center;
        justify-content: space-between;
        max-width: 100%;
        flex-direction: row;
        margin: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .portfolio img {
        width: 70px;
    }

    .item-container {
        display: flex;
        justify-content: space-evenly;
        width: 90%;
    }


    .item {
        width: 87px;
        height: 80px;
        display: flex;
        flex-direction: column;
    }

    .item img {
        width: 25px;
        height: 25px;
        margin-bottom: 5px;
    }

    .item:hover {
        background-color: var(--bg);
    }

    .item-names {
        display: block;
        font-size: 12px;
    }

    .themesButton {
        display: flex;
        width: 90px;
        height: 100%;
        font-size: 12px;
        flex-direction: column;
    }

    .themesButton img {
        width: 25px;
        height: 25px;
        margin-bottom: 5px;
    }

    .themes {
        max-width: 100vw;
    }

    .back-to-top {
        width: 50px;
        height: 50px;
        right: 20px;
    }

    .back-to-top img {
        width: 28px;

    }





    .information-container {
        margin-top: 100px;
    }

    /* NAVBAR Starts Ends */

}


/* 
===================================================================================
===================================================================================
===================================================================================
for devices width more than  1000px
===================================================================================
===================================================================================
===================================================================================
*/

@media(min-width:1000px) {

    /* NavBar */
    .nav-bar {
        padding: 0 0 0 100px;
        border-radius: 0;
    }

    .item-container {
        display: flex;
        justify-content: space-evenly;
        width: 80%;
    }
}



/* 
===================================================================================
===================================================================================
===================================================================================
for devices width more than  1300px
===================================================================================
===================================================================================
===================================================================================
*/


@media(min-width:1300px) {

    /* NavBar */
    .nav-bar {
        padding: 0 0 0 100px;
        border-radius: 0;
    }

    .portfolio img {
        width: 80px;
    }

    .item-container {
        width: 80%;
    }

    .item {
        width: 150px;
        height: 100px;
        display: flex;
        flex-direction: column;
    }

    .item img {
        width: 35px;
        height: 35px;
        margin-bottom: 5px;
    }

    .item-names {
        font-size: 14px;
    }

    .theme-container {
        border-radius: 0;
    }

    .themesButton {
        font-size: 16px;
        width: 150px;
    }

    .themesButton:hover {
        background-color: var(--bg);
        border-radius: 0;
    }

    .themesButton img {
        width: 35px;
        height: 35px;
    }

    /* Navbra ends */

    /* My image and name section  */

    .my-image {
        width: 350px;
        height: 350px;
        border: 6px solid var(--text-color);
    }


    .my-image img {
        width: 200px;
        height: 345px;
        right: 68px;
    }

    .info {
        margin-top: 10px;
        font-size: 40px;
    }

    /* My image and name section ends */





}


@media(min-width:1700px) {

    /* NavBar */
    .nav-bar {
        padding: 0 0 0 100px;
        border-radius: 0;
    }

    .portfolio img {
        width: 80px;
    }

    .item-container {
        display: flex;
        justify-content: space-evenly;
        width: 80%;
    }

    .item {
        width: 150px;
        height: 100px;
        display: flex;
        flex-direction: column;
    }

    .item img {
        width: 35px;
        height: 35px;
        margin-bottom: 5px;
    }

    .item-names {
        font-size: 14px;
    }

    .theme-container {
        border-radius: 0;
    }

    .themesButton {
        font-size: 16px;
        width: 150px;
    }

    .themesButton:hover {
        background-color: var(--bg);
        border-radius: 0;
    }

    .themesButton img {
        width: 35px;
        height: 35px;
    }

    /* Navbra ends */




    /* My image and name section  */

    .my-image {
        width: 400px;
        height: 400px;
        border: 6px solid var(--text-color);
    }


    .my-image img {
        width: 230px;
        height: 389px;
        position: absolute;
        top: 0;
        right: 76px;
    }

    .info {
        margin-top: 10px;
        font-size: 55px;
    }

    /* My image and name section ends */
}