@media(max-width:400px) {

    .nav-bar {
        top: 40px;
    }

    /* portfolio div */
    .portfolio {
        width: 45px;
    }

    .portfolio img {
        width: 45px;
        height: 45px;
    }

    /* nav items */
    .item {
        width: 45px;
        height: 45px;
    }

    .item img {
        width: 24px;
        height: 24px;
    }

    .back-to-top {
        bottom: 3rem;
    }

    .back-to-top img {
        width: 24px;
    }


    /* theme and theme selection */

    /* div taht has theme button image and theme container */
    .theme-container {
        top: 364px;
    }

    /* div that has theme changing  buttons */
    .themes {
        max-width: 86vw;
    }

    /* theme selection button */
    .theme-select {
        font-size: 12px;
        max-width: 120px;
    }

    /* 
    ===================================================================================
    ===================================================================================
    =============================================================
    NavBAR Till here                                                                          =====
    ===================================================================================
    ===================================================================================
    ===================================================================================
    */


    /* information image and text container starts here  */

    .information-container {
        padding-top: 80px;
    }

    .my-image {
        width: 250px;
        height: 260px;
    }

    .my-image img {
        width: 150px;
        height: 270px;
        right: 48px;
    }

    .info {
        font-size: 36px;
    }

}




@media(max-width:320px) {

    /* navbar */
    .nav-bar {
        position: fixed;
        top: 20px;
    }


    /* theme and theme selection */





    /* portfolio div */
    .portfolio {
        width: 40px;
    }

    .portfolio img {
        width: 40px;
        height: 40px;
    }

    /* nav items */
    .item {
        width: 40px;
        height: 40px;
    }

    .item img {
        width: 22px;
        height: 22px;
    }


    /* theme and theme selection */

    /* div that has theme button image and theme container */
    .theme-container {
        top: 309px;
    }

    /* theme button visible on the navbar */
    .themesButton {
        width: 40px;
        height: 40px;
    }

    /* div that has theme changing  buttons */
    .themes {
        max-width: 84vw;
        top: 150px;
    }


    /* theme selection button */
    .theme-select {
        font-size: 10px;
        max-width: 110px;
    }








    /* navbar ends */



    /* information image and text container starts here  */

    .my-image {
        width: 200px;
        height: 200px;
    }

    .my-image img {
        width: 130px;
        height: 230px;
        right: 30px;
    }

    .info {
        font-size: 30px;
    }



}


@media(max-width:280px) {


    /* navbar */

    .nav-bar {
        top: 20px;
    }


    /* nav items */
    .item {
        width: 35px;
        height: 35px;
    }



    /* theme and theme selection */

    /* div that has theme button image and theme container */
    .theme-container {
        top: 280px;
    }

    /* div that has theme changing  buttons */
    .themes {
        max-width: 85vw;
        top: 125px;
    }


    /* theme selection button */
    .theme-select {
        font-size: 10px;
        max-width: 96px;
    }












    /* navbar ends */



    /* information image and text container starts here  */

    .my-image {
        width: 160px;
        height: 160px;
    }

    .my-image img {
        width: 115px;
        height: 190px;
        right: 21px;
    }

    .info {
        font-size: 24px;
    }

    .back-to-top {
        bottom: 8rem;
    }


}










/* 
===================================================================================
===================================================================================
===================================================================================
=====   For larger Devices Such as IPAD and other tablets             
===================================================================================
===================================================================================
===================================================================================
*/


@media(min-width:750px) {

    .nav-bar{
        top: 0;
        align-items: center;
    }

    .item{
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
        flex-direction: column;
    }
    .portfolio {
        width: 120px;
        height: 100px;
        margin-bottom: 10px;
        flex-direction: column;
    }
    .item:hover {
        background-color: red;
    }

    .portfolio img{
        width: 100px;
        height: 100px;
    }
    .item img{
        width: 28px;
        height: 28px;
        margin-bottom: 5px;
    }
    .item-names{
        display: block;
        font-size: 14px ;
    }






}